.EventCard-container{
  display:flex;
  width: 95%;
  height: fit-content;
  background-color:rgba(127, 255, 212, 0.342);
  padding:10px;
  gap:5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event-text-container{
  padding:10px;
}

.event-date{
color:#555;
letter-spacing:0.2rem;
padding-bottom: 15px;
}

.event-heading{
  color:rgb(26, 131, 131);
  text-shadow: 2px 2px 2px rgba(1, 26, 24, 0.25);
padding-bottom: 5px;
}

.event-description{
color:rgb(59, 59, 59);
}

.event-button{
  width: 150px;
  height:30px;
  font-size: 14px;
  letter-spacing:1px;
  border-radius: 10px;
  border: none;
  background-color: rgb(158, 196, 240);
  box-shadow: 2px 5px 10px rgba(33, 53, 45, 0.507);
}

.event-button:hover {
  background-color: rgba(127, 255, 212, 0.705);
  box-shadow: none;
}



.img-button-event-container{
gap:10px;
display:flex;
flex-direction:column;
}