.App {
  position: relative;
  /* width: 100vw; */
  height: 100vh;
  font-family: 'Fredoka One', cursive;
/* font-family: 'Shrikhand', cursive; */

}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.backToHome {
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 30px;
}
